@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
hr{
    height: 0.2rem;
    background-color: #edecec;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.logo p {
    font-size: 1.9rem;
}

.links {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: white;
}

.links a {
    text-decoration: none;
    color: black;
    padding-bottom: 0.1rem;
}

.links a.active {
    border-bottom: 3px solid red;
}

.login {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.login img {
    width: 1.7rem;
    height: 1.7rem;
}

.login button {
    padding: 0.5rem 1.9rem;
    border-radius: 20px;
    background-color: transparent;
    color: grey;
    border: 1px solid grey;
}

.count {
    margin-left: -2.2rem;
    margin-top: -1rem;
    font-size: 0.6rem;
    color: white;
    background-color: red;
    border-radius: 50%;
    height: 0.9rem;
    width: 0.9rem;
    text-align: center;
}

.ham {
    display: none;
}

.links button {
    display: none;
    background-color: white;
    padding: 0.3rem 1.4rem;
    border-radius: 20px;
    border: 2px solid rgb(164, 164, 164);
    color: rgb(164, 164, 164);
}

.hero {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgb(247, 225, 249) 50%, white 80%);
    padding: 3rem 7%;
    align-items: center;
    height: 85vh;
}

.heroleft p {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
}

.heroleft h1 img {
    width: 4.5rem;
}

.heroleft h1 {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.7rem;
    gap: 1rem;
}

.heroleft .latestcoll {
    display: flex;
    align-items: center;
    background-color: red;
    color: white;
    margin-top: 1.6rem;
    padding: 0.7rem 2rem;
    width: 60%;
    border: none;
    border-radius: 30px;
    gap: 1rem;
    font-weight: 600;
}

.heroleft .latestcoll img {
    width: 1rem;
}

.heroright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroright img {
    width: 28.5rem;
}

.popwomen {
    padding: 0rem 7%;
}

.inpopwomen {
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
}

.popwomen h1 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popwomen h1 .line {
    margin-top: 0.4rem;
    width: 42%;
    height: 4px;
    border-radius: 20px;
    background-color: black;
    margin-bottom: 3rem;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popcont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
}

.popitem {
    transition: all 0.3s;
    cursor: pointer;
}

.popitem:hover {
    transform: scale(1.06);
}

.popitem img {
    width: 100%;
}

.popitem p {
    font-size: 0.85rem;
    margin: 0.3rem 0;
}

.popitem h3 {
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.popitem h3 span {
    font-size: 0.9rem;
    text-decoration: line-through;
    color: rgb(163, 162, 162);
}

.mainbanner {
    padding: 0 7%;
    padding-top: 1.5rem;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 6%;
    background: linear-gradient(to bottom, rgb(247, 225, 249) 30%, white 80%);
}

.mainleft h1 {
    font-size: 3.2rem;
    font-weight: 600;
}

.mainleft p {
    margin-bottom: 1rem;
    font-weight: 500;
}

.mainleft .check {
    background-color: red;
    color: white;
    display: inline-block;
    padding: 0.6rem 1.9rem;
    border-radius: 20px;
    font-size: 0.8rem;
}

.mainright img {
    width: 16rem;
}

.letter {
    padding: 0rem 7%;
}

.inletter {
    background: linear-gradient(to bottom, rgb(247, 225, 249) 30%, white 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
    gap: 1rem;
}

.inletter h1 {
    font-weight: 600;
    font-size: 2.4rem;
}

.inletter p {
    font-size: 0.8rem;
    color: grey;
    font-weight: 500;
}

.email {
    display: flex;
}

.email input {
    padding: 0.7rem 1rem;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 30px 0 0 30px;
    border-right: none;
    width: 20rem;
}

.email input:focus {
    outline: none;
}

.email button {
    padding: 0.7rem 2rem;
    border: none;
    color: white;
    background-color: black;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.footer {
    padding: 2rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.line2 {
    width: 100%;
    height: 2px;
    background-color: rgb(176, 175, 175);
}

.footer .social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .social img {
    border: 1px solid rgb(209, 209, 209);
    padding: 0.45rem;
    width: 2.5rem;
    background-color: #f6f5f5;
}

.footer .links1 {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}

.footer .links1 a {
    text-decoration: none;
    color: black;
}

.footer .logo1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.7rem;
}

.footer .logo1 p {
    font-size: 2.5rem;
    font-weight: 500;
}

.gender {
    padding: 1rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort p {
    font-size: 0.9rem;
}

.sort p span {
    font-weight: 600;
}

.sort button {
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
}

.explore {
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.explore button {
    padding: 0.6rem 1.8rem;
    border-radius: 20px;
    background-color: rgb(237, 235, 235);
    color: grey;
    border: none;
}

.bread {
    padding: 2rem 7%;
}

.bread p {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.8rem;
    font-weight: 500;
    flex-wrap: wrap;
}

.bread p img {
    width: 0.4rem;
}

.product {
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    /* height: 70vh; */
    margin-bottom: 3rem;
}

.prodleft {
    display: flex;
    gap: 0.7rem;
}

.prodleft .smallimg {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.prodleft .smallimg img {
    height: 7rem;
}

.prodleft .bigimg img {
    width: auto;
    height: 30.1rem;
}

.prodright h1 {
    font-size: 2rem;
    font-weight: 600;
    display: flex;

}

.prodright .stars {
    display: flex;
    gap: 0.3rem;
    align-items: baseline;
    margin-top: 0.2rem;
}

.prodright .stars img {
    width: 1rem;
    height: 1rem;
}

.prodright .price p {
    display: flex;
    gap: 0.8rem;
    color: red;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 1rem 0;
}

.prodright .price p span {
    text-decoration: line-through;
    color: grey;
}

.prodright .desc {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

.prodright .size p {
    font-weight: 500;
    margin-bottom: 0.9rem;
}

.sizes {
    display: flex;
    gap: 0.6rem;
    margin-bottom: 1.6rem;
}

.sizes button {
    height: 2.6rem;
    width: 2.6rem;
    font-size: 0.75rem;
    font-weight: 500;
    border: none;
}

.prodright .addcart {
    padding: 0.5rem 1.3rem;
    border: none;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: 0.7rem;
    margin-bottom: 1.8rem;
    cursor: pointer;
}

.cat {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.descbox {
    padding: 2rem 7%;
}

.descnav {
    display: flex;
}

.descnav p {
    border: 2px solid rgb(216, 214, 214);
    border-bottom: none;
    padding: 0.5rem 1.2rem;
    font-size: 0.8rem;
}

.rev {
    background-color: rgb(240, 238, 238);
}

.maindesc {
    border: 2px solid rgb(216, 214, 214);
    padding: 2rem 2rem;
    padding-bottom: 2.5rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inrel {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0;
}
.cart{
    padding: 5rem 7%;
}
.carthead{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 3rem;
    margin-bottom: 0.7rem;
}
.cartitem{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 3rem;
    margin: 0.7rem 0;
    width: 100%;
}
.cartformat .prodimage{
    height: 4.5rem;
}
.cartformat .crossbut{
    margin: 0 2rem;
    width: 0.8rem;
    cursor: pointer;
}
.cartformat button{
    height:2.5rem ;
    width: 2.5rem;
    border: 1px solid rgb(190, 188, 188);
    background-color: rgb(251, 247, 247);
}
.totalcart{
    padding: 0rem 7%;
    padding-bottom: 3rem;
    display: flex;
    /* display: none; */
    gap: 12rem;
}
.total h2{
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.total{
    width: 40%;
}
.total .sec1{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}
.total .sec1 p{
    font-size: 0.8rem;
}
.total .sec1 p b{
    font-size: 0.9rem;
}
.total button{
    margin-top: 2rem;
    background-color: red;
    border: none;
    color: white;
    padding: 0.5rem 0.8rem;
    font-weight: 500;
}
.promo p{
    font-size: 0.8rem;
    color: grey;
    margin-bottom: 0.5rem;
}
.submitpromo{
    display: flex;
}
.submitpromo input{
    padding: 0.6rem 0.8rem;
    width: 18rem;
    border: none;
    background-color: #ebeaea;
}
.submitpromo input::placeholder{
    color: grey;
    font-size: 0.7rem;
}
.submitpromo button{
    border: none;
    background-color: black;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    width: 7rem;
    cursor: pointer;
}

/* --------------login page code--------------- */
.login1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    height: 99.6vh;
    background: linear-gradient(60deg, #ff85a2 10%, #ffffff 95%); 
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    height: 99.6vh;
    background: linear-gradient(60deg, #ff85a2 10%, #ffffff 95%); 
}
.logsign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: white;
    padding: 1.5rem 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    gap: 0.9rem;
    width: 22rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.error{
    font-size: 0.6rem;
    color: red;
    align-self: flex-start;
    width: 100%;
    border: 2px solid rgb(247, 163, 163);
    padding: 0.4rem 0.4rem;
    border-radius: 5px;
    background-color: rgb(255, 230, 230);
}
.noerror{
    display: none;
}
.logsign h1{
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}
.epass{
    width: 100%;
    position: relative;
}
.epass label{
    position: absolute;
    top: 23%;
    font-size: 0.77rem;
    left: 5%;
    z-index: 2;
    transition: all 0.3s;
    color: rgb(158, 157, 157);
    
}
.epass input{
    width: 100%;
    padding: 0.6rem 0.6rem;
    border-radius: 5px;
    border: 1px solid rgb(205, 204, 204);
}
.logsign input:focus{
    outline: none;
}
.logsign input:focus + label,
.logsign input:valid + label{
    top: -17%;
    background-color: white;
    padding: 0rem 0.25rem;
    font-size: 0.6rem;
}
.logsign a{
    font-size: 0.75rem;
    text-decoration: none;
    color: blue;
}
.logsign button{
    width: 100%;
    padding: 0.6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
    background-color: #ff85a2;
    border: none;
    border-radius: 5px;
}
.logsign p{
    font-size: 0.75rem;
    color: rgb(110, 110, 110);
}
.logsign .google{
    position: relative;
    border: 1px solid rgb(205, 204, 204);
    background-color: white;
    color: rgb(171, 169, 169);
    font-weight: 700;
}
.google img{
    position: absolute;
    left: 5%;
}
.or{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    margin: 0.5rem 0;
}
.or .line{
    height: 1px;
    background-color: rgb(228, 231, 231);
    width: 45%;
}

/* ----------------Media Queiries---------------- */
@media(max-width: 1284px) {
    .popcont {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1.5rem;
    }
    .popitem p {
        font-size: 0.7rem;
        margin: 0.3rem 0;
    }
    .popitem h3 {
        font-weight: 500;
        font-size: 0.8rem;
        display: flex;
        gap: 0.8rem;
        align-items: center;
    }
    .popitem h3 span {
        font-size: 0.7rem;
        text-decoration: line-through;
        color: rgb(163, 162, 162);
    }
}

@media(max-width: 1193px) {
    .prodright h1 {
        font-size: 1.5rem;
    }

    .prodright .stars {
        display: flex;
        gap: 0.3rem;
        align-items: baseline;
        margin-top: 0.2rem;
    }

    .prodright .stars img {
        width: 0.8rem;
        height: 0.8rem;
    }

    .prodright .stars p {
        font-size: 0.8rem;
    }

    .prodright .price p {
        font-size: 0.9rem;
        margin: 0.7rem 0;
    }

    .product {
        padding: 0 5%;
    }

    .prodright .desc {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    .prodright .size p {
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    .sizes {
        display: flex;
        gap: 0.6rem;
        margin-bottom: 1.2rem;
    }

    .sizes button {
        height: 2.2rem;
        width: 2.2rem;
        font-size: 0.65rem;
        font-weight: 500;
        border: none;
    }

    .prodright .addcart {
        padding: 0.5rem 1.3rem;
        border: none;
        background-color: red;
        color: white;
        font-weight: 600;
        font-size: 0.7rem;
        margin-bottom: 1.3rem;
    }
}

@media(max-width: 1085px) {
    .links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        transform-origin: right;
        transform: scaleX(0);
        padding: 2rem 5rem;
        height: 100vh;
        justify-content: initial;
        border-left: 1px solid #ccc;
        box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.4s;
    }

    .ham {
        display: block;
    }

    .links.active {
        transform: scaleX(1);
    }

    .links button {
        display: block;
    }

    .login button {
        display: none;
    }

    .heroright img {
        width: 23rem;
    }

    .heroleft h1 {
        font-size: 3rem;
        line-height: 3.7rem;
    }

    .heroleft h1 img {
        width: 3rem;
    }

    .heroleft .latestcoll {
        gap: 0.6rem;
        font-size: 0.7rem;
    }

    .heroleft .latestcoll img {
        width: 0.8rem;
    }
    .totalcart{
        padding: 0rem 7%;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 4.5rem;
    }
    .total h2{
        margin-bottom: 2rem;
        font-size: 1.8rem;
    }
    .total{
        width: 100%;
    }
    .total .sec1{
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;
    }
    .total .sec1 p{
        font-size: 0.8rem;
    }
    .total .sec1 p b{
        font-size: 0.9rem;
    }
    .total button{
        margin-top: 2rem;
        background-color: red;
        border: none;
        color: white;
        padding: 0.5rem 0.8rem;
        font-weight: 500;
    }
    .promo p{
        font-size: 0.8rem;
        color: grey;
        margin-bottom: 0.5rem;
    }
    .submitpromo{
        display: flex;
    }
    .submitpromo input{
        padding: 0.6rem 0.8rem;
        width: 18rem;
        border: none;
        background-color: #ebeaea;
    }
    .submitpromo input::placeholder{
        color: grey;
        font-size: 0.7rem;
    }
    .submitpromo button{
        border: none;
        background-color: black;
        color: white;
        font-size: 0.7rem;
        text-align: center;
        width: 7rem;
    }
}

@media(max-width: 972px) {
    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3% 6%;
    }

    .mainleft h1 {
        font-size: 2.3rem;
        font-weight: 600;
    }

    .mainleft p {
        margin-bottom: 0.8rem;
        font-weight: 500;
        font-size: 0.8rem;
    }

    .mainleft .check {
        background-color: red;
        color: white;
        display: inline-block;
        padding: 0.6rem 1.9rem;
        border-radius: 20px;
        font-size: 0.8rem;
    }

    .mainright img {
        width: 13rem;
    }

    .product {
        margin-bottom: 0rem;
        padding: 0 4%;
    }

    .prodleft {
        display: flex;
        gap: 0.5rem;
    }

    .prodleft .smallimg {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .prodleft .smallimg img {
        height: 6rem;
    }

    .prodleft .bigimg img {
        width: auto;
        height: 25.5rem;
    }

    .prodright h1 {
        font-size: 1.3rem;
        font-weight: 600;
        display: flex;
        margin-bottom: 0.2rem;
    }

    .prodright .stars {
        display: flex;
        gap: 0.3rem;
        align-items: baseline;
        margin-top: 0.2rem;
    }

    .prodright .stars img {
        width: 0.8rem;
        height: 0.8rem;
    }

    .prodright .stars p {
        font-size: 0.8rem;
    }

    .prodright .price p {
        display: flex;
        gap: 0.8rem;
        color: red;
        font-weight: 600;
        font-size: 0.9rem;
        margin: 0.5rem 0;
    }

    .prodright .price p span {
        text-decoration: line-through;
        color: grey;
    }

    .prodright .desc {
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }

    .prodright .size p {
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 0.6rem;
    }

    .sizes {
        display: flex;
        gap: 0.6rem;
        margin-bottom: 1rem;
    }

    .sizes button {
        height: 2.2rem;
        width: 2.2rem;
        font-size: 0.65rem;
        font-weight: 500;
        border: none;
    }

    .prodright .addcart {
        padding: 0.5rem 1rem;
        border: none;
        background-color: red;
        color: white;
        font-weight: 600;
        font-size: 0.6em;
        margin-bottom: 1rem;
    }

    .cat {
        font-size: 0.7rem;
        margin-bottom: 0.2rem;
    }
}
@media(max-width:935px){
    .cart{
        padding: 4rem 5.5%;
    }
    .carthead{
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 0.7rem;
        font-size: 0.7rem;
    }
    .cartitem{
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 1.5rem;
        margin: 0.4rem 0;
        width: 100%;
    }
    .cartformat p{
        font-size: 0.65rem;
    }
    .cartformat .prodimage{
        height: 3.5rem;
    }
    .cartformat .crossbut{
        margin: 0 2rem;
        width: 0.8rem;
    }
    .cartformat button{
        height:2rem ;
        width: 2rem;
        border: 1px solid rgb(190, 188, 188);
        background-color: rgb(251, 247, 247);
    }
    .totalcart{
        padding: 0rem 5%;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 4.5rem;
    }
}
@media(max-width: 839px) {
    .heroright img {
        width: 20rem;
    }

    .heroleft h1 {
        font-size: 2.3rem;
        line-height: 3rem;
    }

    .heroleft h1 img {
        width: 2.3rem;
    }

    .heroleft .latestcoll {
        padding: 0.5rem 1rem;
        gap: 0.6rem;
        font-size: 0.6rem;
    }

    .inletter h1 {
        font-size: 1.8rem;
    }

    .inletter p {
        font-size: 0.8rem;
        color: grey;
    }

    .email input {
        width: 17rem;
    }
    .popcont {
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
        gap: 1rem;
    }
    .popitem p {
        font-size: 0.6rem;
        margin: 0.3rem 0;
    }
    .popitem h3 {
        font-weight: 500;
        font-size: 0.7rem;
        display: flex;
        gap: 0.8rem;
        align-items: center;
    }
    .popitem h3 span {
        font-size: 0.7rem;
        text-decoration: line-through;
        color: rgb(163, 162, 162);
    }
}
@media(max-width: 725px) {
    .popcont {
        grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        gap: 1rem;
    }
    .popitem p {
        font-size: 0.6rem;
        margin: 0.3rem 0;
    }
    .popitem h3 {
        font-weight: 500;
        font-size: 0.7rem;
        display: flex;
        gap: 0.8rem;
        align-items: center;
    }
    .popitem h3 span {
        font-size: 0.7rem;
        text-decoration: line-through;
        color: rgb(163, 162, 162);
    }
}
@media(max-width: 777px) {
    .product {
        padding: 0 4%;
        gap: 2rem;
    }

    .prodleft {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0rem;
        margin-bottom: 2.5rem;
    }

    .prodleft .smallimg {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
    }

    .prodleft .smallimg img {
        height: 5rem;
    }

    .prodleft .bigimg img {
        width: auto;
        height: 21.2rem;
    }

    .prodright h1 {
        font-size: 1.3rem;
        font-weight: 600;
        display: flex;
        margin-bottom: 0.2rem;
    }

    .prodright .stars {
        display: flex;
        gap: 0.3rem;
        align-items: baseline;
        margin-top: 0.2rem;
    }

    .prodright .stars img {
        width: 0.8rem;
        height: 0.8rem;
    }

    .prodright .stars p {
        font-size: 0.8rem;
    }

    .prodright .price p {
        display: flex;
        gap: 0.8rem;
        color: red;
        font-weight: 600;
        font-size: 0.9rem;
        margin: 0.5rem 0;
    }

    .prodright .price p span {
        text-decoration: line-through;
        color: grey;
    }

    .prodright .desc {
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }

    .prodright .size p {
        font-size: 0.8rem;
        font-weight: 500;
        margin-bottom: 0.6rem;
    }

    .sizes {
        display: flex;
        gap: 0.6rem;
        margin-bottom: 1rem;
    }

    .sizes button {
        height: 2.2rem;
        width: 2.2rem;
        font-size: 0.65rem;
        font-weight: 500;
        border: none;
    }

    .prodright .addcart {
        padding: 0.5rem 1rem;
        border: none;
        background-color: red;
        color: white;
        font-weight: 600;
        font-size: 0.6em;
        margin-bottom: 1rem;
    }

    .cat {
        font-size: 0.7rem;
        margin-bottom: 0.2rem;
    }
}

@media(max-width: 682px) {
    .heroright img {
        width: 16rem;
    }

    .heroleft h1 {
        font-size: 2rem;
        line-height: 2.7rem;
    }

    .heroleft h1 img {
        width: 2rem;
    }

    .heroleft .latestcoll {
        padding: 0.5rem 1rem;
        gap: 0.7rem;
        font-size: 0.5rem;
    }

    .heroleft .latestcoll img {
        width: 0.7rem;
    }

    .mainright {
        display: none;
    }

    .banner {
        justify-content: center;
        align-items: center;
    }

    .mainleft h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    .mainleft .check {
        padding: 0.4rem 1.5rem;
    }
    .popwomen{
        padding: 0 5%;
    }
    .popwomen h1{
        font-size: 2rem;
    }
    .inpopwomen{
        padding: 3rem 0;
        padding-top: 2rem;
    }
}

@media(max-width: 637px) {
    .product {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .prodleft {
        flex-direction: row;
        justify-content: center;
        gap: 0.4rem;
        margin-bottom: 0rem;
    }

    .prodleft .smallimg {
        flex-direction: column;
        margin-bottom: 0.45rem;
    }

    .prodleft .smallimg img {
        height: 5.05rem;
    }

    .descbox {
        padding: 2rem 4%;
    }

    .maindesc {
        padding: 1rem 1.5rem;
    }
}

@media(max-width: 614px) {

    .mainbanner {
        padding: 0rem 7%;
    }

    .inletter h1 {
        font-size: 1.3rem;
    }

    .inletter p {
        font-size: 0.7rem;
        color: grey;
    }

    .email button {
        padding: 0.4rem 1.5rem;
        border: none;
        color: white;
        background-color: black;
        border-radius: 0 30px 30px 0;
        cursor: pointer;
    }

    .email input {
        padding: 0.4rem 1rem;
        border: 1px solid rgb(209, 208, 208);
        border-radius: 30px 0 0 30px;
        border-right: none;
        width: 13rem;
    }

    .sort button {
        padding: 0.4rem 0.7rem;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: transparent;
        border: 1px solid grey;
        color: grey;
        font-size: 0.7rem;
    }

    .sort p {
        font-size: 0.75rem;
    }

    .explore {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }
}
@media(max-width: 577px) {
    .popcont {
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 0.7rem;
    }
    .popitem p {
        font-size: 0.5rem;
        margin: 0.3rem 0;
    }
    .popitem h3 {
        font-weight: 500;
        font-size: 0.6rem;
        display: flex;
        gap: 0.8rem;
        align-items: center;
    }
    .popitem h3 span {
        font-size: 0.55rem;
        text-decoration: line-through;
        color: rgb(163, 162, 162);
    }
}
@media(max-width: 569px) {
    .logo p {
        font-size: 1.5rem;
    }

    .heroright {
        display: none;
    }

    .hero {
        justify-content: center;
    }

    .heroleft .latestcoll {
        padding: 0.5rem 1rem;
        gap: 2rem;
        font-size: 0.8rem;
        width: 100%;
    }

    .heroleft .latestcoll img {
        width: 1rem;
    }
}

@media (max-width:557px) {
    .footer .links1 {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .footer {
        gap: 1.4rem;
    }

    .footer .links1 a {
        font-size: 0.8rem;
    }

    .footer p {
        font-size: 0.8rem;
    }
}
@media (max-width:500px) {
    .cart{
        padding: 4rem 7%;
    }
    .carthead{
        display: none;
    }
    .cartitem{
        display: grid;
        grid-template-columns: 0.35fr 1.5fr 0.2fr;
        align-items: center;
        gap: 0.5rem;
        margin: 0.4rem 0rem;
        width: 100%;
    }
    .cartformat p{
        font-size: 0.65rem;
    }
    .cartformat p.totalprod{
        font-weight: 700;
        font-size: 0.75rem;
    }
    .cartformat .prodimage{
        height: 3.5rem;
    }
    .cartformat .crossbut{
        margin: 0;
        width: 0.8rem;
    }
    .cartformat button{
        height:2rem ;
        width: 2rem;
        border: 1px solid rgb(190, 188, 188);
        background-color: rgb(251, 247, 247);
    }
}
@media (max-width:457px) {
    .inletter h1 {
        font-size: 1rem;
    }

    .inletter p {
        font-size: 0.6rem;
        color: grey;
    }

    .email button {
        padding: 0.2rem 1.5rem;
        border: none;
        color: white;
        background-color: black;
        border-radius: 0 30px 30px 0;
        cursor: pointer;
        font-size: 0.6rem;
    }

    .email input {
        padding: 0.2rem 1rem;
        border: 1px solid rgb(209, 208, 208);
        border-radius: 30px 0 0 30px;
        border-right: none;
        width: 10rem;
    }

    .email input::placeholder {
        font-size: 0.6rem;
    }

    .bread p {
        font-size: 0.65rem;
    }

    .prodleft .smallimg img {
        height: 4.7rem;
    }

    .prodleft .bigimg img {
        height: 19.8rem;
    }
}

@media (max-width:420px) {
    .heading h1 {
        font-size: 1.5rem;
    }

    .mainleft h1 {
        font-size: 1.6rem;
        font-weight: 600;
    }

    .mainleft .check {
        padding: 0.4rem 1.5rem;
    }

    .mainleft p {
        font-size: 0.7rem;
    }
}

/* ---------------login page media query---------------- */

@media(max-width: 460px){
    .logsign{
        width: 18rem;
    }
}
